extends layout

block contenido
    .contenido-principal

        .contenedor-acciones
            button#editar-proyecto
                a.enlace-editar(href=`/proyecto/editar/${proyecto.id}`) Editar proyecto
                svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="30")
                    path(stroke-linecap="round" stroke-linejoin="round" d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z")
            button#eliminar-proyecto(data-proyecto-url=proyecto.url) Eliminar proyecto
                svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="30")
                    path(stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0")

        h1 #{nombrePagina}: #{proyecto.nombre}

        if tareas.length === 0
            .avance-cero
                h3.comienza-agregar Comienza a organizar tu proyecto
        else 
            .avance
                h3 Avance del proyecto:
                #barra-avance.barra-avance
                    #porcentaje.porcentaje
        
        .formulario-tarea
            if locals.mensajes
                .alertas-tareas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta-tareas(class=`${categoria}`)
                                p= error

            form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
                .campo
                    h4(for="tarea") Añadir una tarea: 
                    input(type="text" id="tarea" name="tarea" placeholder="Nombre de tarea")
                    input.boton.nueva-tarea(type="submit" value="Guardar")
        
        .titulo-tareas 
            h3 Tareas:

        .listado-pendientes
            ul
                if tareas.length === 0
                    h3 ¡No hay tareas actualmente!
                else 
                    each tarea in tareas
                        li.tarea(data-tarea=tarea.id)
                            p= tarea.tarea
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else 
                                    i.completar.far.fa-check-circle
                                i.fas.fa-trash
                                a.edit(href=`/tarea/editar/${tarea.id}` class="fas fa-edit")