extends layout

block contenido 
    .contenido-principal 
        h1 #{nombrePagina} - #{tarea.tarea}

        form.editar-tarea(action=`/tarea/editar/${tarea.id}` method="POST")
            .campo
                h4(for="tarea") Nombre de la tarea:
                input.e(type="text" id="tarea" name="tarea" value=tarea.tarea placeholder="Actualizar tarea")
            
            .campo
                h4(for="estado") Estado:
                select#estado(name="estado")
                    option(value="0" selected=tarea.estado === 0) Incompleta
                    option(value="1" selected=tarea.estado === 1) Completada  

            .campo.enviar
                input.boton(type="submit" value="Guardar cambios")