extends layout

block contenido
    .contenido-principal

        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton-eliminar") Eliminar proyecto

        h1 #{nombrePagina} - #{proyecto.nombre}

        .avance
            h3 Avance del proyecto
            #barra-avance.barra-avance
                #porcentaje.porcentaje
        
        .formulario-tarea
            if locals.mensajes
                .alertas-tareas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta-tareas(class=`${categoria}`)
                                p= error

            form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
                .campo
                    label(for="tarea") Añadir una tarea: 
                    input(type="text" id="tarea" name="tarea" placeholder="Nombre tarea")
                    input.boton.nueva-tarea(type="submit" value="Guardar")
        
        .titulo-tareas 
            h3 Tareas:

        .listado-pendientes
            ul
                if tareas.length === 0
                    h3 ¡No hay tareas actualmente!
                else 
                    each tarea in tareas
                        li.tarea(data-tarea=tarea.id)
                            p= tarea.tarea
                            .acciones
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else 
                                    i.completar.far.fa-check-circle
                                i.fas.fa-trash
                                a.edit(href=`/tarea/editar/${tarea.id}` class="fas fa-edit")